<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/avatar_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/avatar_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeServiceApp"
        tools:targetApi="31">
        <activity
            android:name=".ImportSampleDataActivity"
            android:exported="false" />
        <activity
            android:name=".ChiTietDonDatActivity"
            android:exported="false" />
        <activity
            android:name=".ManHinhGioiThieuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FilterActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ChiTietDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".HoSoActivity"
            android:exported="false" />
        <activity
            android:name=".ChinhSuaHoSoActivity"
            android:exported="false" />
        <activity
            android:name=".ThongBaoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentMethodActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".TabServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".AddServiceActivity"
            android:exported="false"
            android:label="Thêm dịch vụ" />
        <activity
            android:name=".AdminBookingDetailActivity"
            android:exported="false"
            android:label="Chi tiết đơn hàng" />
        <activity
            android:name=".ManageBannersActivity"
            android:exported="false"
            android:label="Quản lý Banner" />
        <activity
            android:name=".AddBannerActivity"
            android:exported="false"
            android:label="Thêm Banner" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ViewAllServicesActivity"
            android:exported="false"
            android:label="Tất cả dịch vụ" />
        <activity
            android:name=".ManageCategoriesActivity"
            android:exported="false"
            android:label="Quản lý Danh mục" />
        <activity
            android:name=".AdminServiceDetailActivity"
            android:exported="false"
            android:label="Chi tiết Dịch vụ (Admin)" />
    </application>

</manifest>